

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-gray-100: #f3f6ff; /* Lightest gray color */
    --clr-gray-200: #eff2fc; /* Lighter gray color */
    --clr-gray-300: #e2e5f1; /* Light gray color */
    --clr-gray-400: #d4d7e5; /* Medium light gray color */
    --clr-gray-500: #b4b7c9; /* Medium gray color */
    --clr-gray-600: #9397ad; /* Medium dark gray color */
    --clr-gray-700: #565973; /* Dark gray color */
    --clr-gray-800: #33354d; /* Darker gray color */
    --clr-gray-900: #0b0f19; /* Darkest gray color */
    --clr-primary: #6366f1; /* Primary color */
    --clr-bg: #fff; /* Background color */
    --clr-bg-100: var(--clr-bg-100); /* Background color variant */
    --clr-text-body: var(--clr-gray-700); /* Body text color */
    --clr-text-heading: var(--clr-gray-900); /* Heading text color */
    --clr-text-navigation: var(--clr-gray-800); /* Navigation text color */
    --br-m: 0.375em; /* Medium border radius */
    --br-1: 0.5em; /* Larger border radius */
    --container-padding: 1rem; /* Container padding */
    --transition-time: all 0.2s; /* Transition time for all properties */
}

* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Remove tap highlight color */
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

body {
    font-family: 'Manrope', sans-serif; /* Set font family to Manrope */
    font-optical-sizing: auto; /* Enable optical sizing */
    font-weight: 400; /* Set font weight to normal */
    font-style: normal; /* Set font style to normal */
    font-size: 16px; /* Set base font size */
}

.wrapper {
    display: grid; /* Set display to grid */
    grid-template-rows: auto 1fr auto; /* Set grid template rows */
    height: 100vh; /* Set height to 100vh */
    
}

.container {
    width: 100%; /* Set container width to 100% */
    padding-left: var(--container-padding); 
    padding-right: var(--container-padding); 
    margin-left: auto; /* Set margin left to auto */
    margin-right: auto; /* Set margin right to auto */
    
}

a {
    color: var(--clr-primary); /* Set link color to primary color */
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    color: var(--clr-primary); /* Set link hover color to primary color */
    text-decoration: underline; /* Underline links on hover */
}


.btn-primary {
    background-color: var(--clr-primary); /* Set button background color to primary color */
    color: var(--clr-gray-100);
    border-radius: 8px; /* Set button border radius */
    padding: 12px 25px; /* Set button padding */
    display: flex; /* Set button display to flex */
    justify-content: center; /* Center button content */
    align-items: center; /* Center button content */
    text-decoration: none; /* Remove underline from button */
}

.btn-store {
    background-color: var(--clr-gray-900); /* Set button background color to primary color */
    color: var(--clr-gray-100);
    border-radius: 8px; /* Set button border radius */
    padding: 12px 25px; /* Set button padding */
    display: flex; /* Set button display to flex */
    align-items: center; /* Center button content vertically */
    text-decoration: none; /* Remove underline from button */
    height: 52px;
    width: 180px;
    justify-content: space-between; /* Space out the image and text */
}

.storeBtn {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 10rem;
    p {
        margin-left: 1rem;
    }
}

#storeBtn {
    
    background-color: white;
 }

.btn-icon {
    height: 100%;
    margin-right: 10px; /* Space between image and text */
}
.btn-text {
    display: flex;
    flex-direction: column; /* Stack text lines vertically */
    align-items: flex-start; /* Align text to the left */
}

.line1, .line2 {
    color: var(--clr-gray-100); /* Ensure text color matches button text color */
}




.btn-primary:hover {
    background-color: var(--clr-gray-500); /* Set button hover background color */
    color: var(--clr-gray-100); /* Set button hover text color */
    text-decoration: none; /* Remove underline from button */
}
.btn-primary i {
    margin-right: 0.5rem; /* Add margin to icon */
}

.btn-mobile {
    background-color: transparent; /* Set button background color to transparent */
    border: none; /* Remove button border */
    font-size: 2rem; /* Set button font size */
}

.btn-toggle-switch {
    display: flex; /* Set button display to flex */
    align-items: center; /* Center button content */
    gap: 10px;
}

.btn-toggle-switch .label {
display: "none";
}

.toggle-switch {
    position: relative; /* Set position to relative */
    display: inline-block; /* Set display to inline-block */
    width: 45px; /* Set width to 45px */
    height: 25px; /* Set height to 25px */
}

.toggle-switch input {
    opacity: 0; /* Set input opacity to 0. Makes the original checkbox invisible */ 
}

.toggle-switch input:checked + .slider {
    background-color: var(--clr-primary); /* Set slider background color to primary color */
}

.toggle-switch input:checked + .slider {
    box-shadow: 0 0 1px var(--clr-primary); /* Set slider box shadow */
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px); /* Move slider to the right */
    background-color: var(--clr-gray-100); /* Set slider background color */
}

.toggle-switch .slider {
    position: absolute; /* Set position to absolute */
    cursor: pointer; /* Set cursor to pointer */
    cursor: pointer; /* Set cursor to pointer */
    top: 0; /* Set top to 0 */
    left: 0; /* Set left to 0 */
    right: 0; /* Set right to 0 */
    bottom: 0; /* Set bottom to 0 */
    background-color: var(--clr-gray-600); /* Set slider background color */
    transition: all 0.2s; /* Set transition time */
}

.toggle-switch .slider:before {
    position: absolute; /* Set position to absolute */
    content: ""; /* Add content */
    height: 20px; /* Set height to 21px */
    width: 20px; /* Set width to 21px */
    left: 3px; /* Set left to 2px */
    bottom: 2.5px; /* Set bottom to 2px */
    background-color: var(--clr-gray-100);
    
    transition: all 0.2s; /* Set transition time */
}

.toggle-switch .slider.round {
    border-radius: 35px; /* Set border radius */
}

.toggle-switch .slider.round:before {
    border-radius: 50%; /* Set border radius */
}

.navbar {
    display: none; /* Hide navbar on mobile devices */
}
.nav-link {
    color: var(--clr-gray-800);
    font-weight: 700;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

.active {
    color: var(--clr-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none; /* Hide sign in form on mobile devices */
}


.label {
    display: none; /* Hide label on mobile devices */
}

.container{
    display: grid;    
    align-items: center;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:"Logo sw mobile";
    gap: 1.5rem;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 876px;
    
}

.header-left {
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}



.bg-color {
    /* MÅSTE ju tweakas såklart */
    /* background: -webkit-linear-gradient(#da46ef 5%,#f1f4fd 83%, #6366f1 10%); */
    background: -webkit-linear-gradient(0deg, 
        rgba(99, 102, 241, 0.1) 0%,  /* 6366F1 with 10% opacity at 0% */
        rgba(218, 70, 239, 0.05) 42%, /* DA46EF with 5% opacity at 42% */
        rgba(241, 244, 253, 0.07) 83% /* F1F4FD with 7% opacity at 83% */
    );
    background: linear-gradient(0deg, 
        rgba(99, 102, 241, 0.1) 0%,  /* 6366F1 with 10% opacity at 0% */
        rgba(218, 70, 239, 0.05) 42%, /* DA46EF with 5% opacity at 42% */
        rgba(241, 244, 253, 0.07) 83% /* F1F4FD with 7% opacity at 83% */
    );
}

.bg-color2 {
    background-color: var(--clr-gray-100);
}

.storebox {
    /* padding-left: 122px; */
    display: flex;
    
}

.logobox {
    border-color: var(--clr-gray-300);
    border: 3px solid;
    color: var(--clr-gray-100);
    border-radius: 8px; /* Set button border radius */
    padding: 12px 25px; /* Set button padding */
    display: flex; /* Set button display to flex */
    justify-content: center; /* Center button content */
    align-items: center; /* Center button content */
    text-decoration: none; /* Remove underline from button */
    height: 100px;
    width: 196px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    
    
}

.logos {
    padding-top: 2vw;
    padding-bottom: 2vw;
    
    display: flex;
    grid-template-columns: repeat(6, fr);
    gap: 1.5rem;
    justify-content: center;
    /* gap: .6rem; */
    /* padding-left: 122px; */
    /* padding-right: 122px; */
}

.features {
    display: flex;
}

/* GAMMAL KOD START */
/* .featuresmain {
    transform: translate(0%, -0%);
    padding-left: 30rem;
} */
 /* GAMMAL KOD SLUT */

.featuresmain {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolumner */
    grid-template-rows: repeat(3, auto); /* 3 rader */
    gap: 1rem; /* Mellanrum mellan rutorna */
    padding-left: 15rem;
}

.featuresmain h1 {
    grid-column: span 2; /* Gör att rubriken sträcker sig över båda kolumnerna */
    font-size: 2rem; /* Justera storleken efter behov */
    margin-bottom: 0.5rem; /* Justera mellanrummet under rubriken */
}

.featuresmain p {
    grid-column: span 2; /* Gör att texten sträcker sig över båda kolumnerna */
    margin-bottom: 1rem; /* Justera mellanrummet under texten */
}
.featurespoints {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.featuresbox {
    display: flex; /* Gör att innehållet visas i en rad */
    align-items: center; /* Vertikalt centrera innehållet */
    gap: 1rem; /* Lägger till ett mellanrum mellan bilden och texten */
}

.featuresbox img {
    flex-shrink: 0; /* Förhindrar att bilden krymper */
}

.featuresbox-text {
    display: flex;
    flex-direction: column; /* Gör att texten visas i en kolumn */
}

.featuresbox-text p:first-child {
    font-weight: bold; /* Gör texten fetmarkerad */
    font-size: 1.5rem; /* Gör texten större, justera efter behov */
    margin-bottom: 0.5rem; /* Justera mellanrummet mellan raderna, justera efter behov */
}

.featuresbox-text p:last-child {
    margin-top: 0; /* Ta bort eventuellt extra mellanrum ovanför den andra raden */
}

.featurescont {
padding: 0;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.featurescontChecks {
    display: flex;
    
    padding-top: .5rem;
    padding-bottom: .5rem;
    p {
        margin-left: .5rem;
    }
}

.fa-circle-check{
 color: var(--clr-primary);
 }

 .featurescont-icontext {
 
 }

 .featurescont-iconbox {

 }

.headerphones {
    display: flex;
    justify-content: flex-end;
}

.featurephones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headeroverlay {
    position: absolute; /* Gör bilden absolut positionerad */
    top: 0; /* Placera den översta kanten av bilden vid containerns översta kant */
    left: 0; /* Placera den vänstra kanten av bilden vid containerns vänstra kant */
    transform: translate(5%, 27.2%); /* Flytta bilden 50% till vänster och 50% uppåt */
}

.headerbackground {
display: block;
transform: scale(0.75);
transform: translate(-52%, 58.3%);
}

.featurescont-innerbigbackground {
    display: block;
    transform: scale(3.75);
    transform: translate(0%, 0%);
}

.featurescont-innersmalloverlay{
    position: absolute; /* Gör bilden absolut positionerad */
    z-index: 1;
    transform: translate(0%, 00%); /* Flytta bilden 50% till vänster och 50% uppåt */
}

.featurescont-inner2bigbackground {
    display: block;
transform: translate(-0%, 0%);
}

.featurescont-cardoverlay {
    position: absolute; /* Gör bilden absolut positionerad */
    transform: translate(40%, -122%); /* Flytta bilden 50% till vänster och 50% uppåt */
}

.featurescont.icontext {
    display: grid;
}

.featurescont-iconbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.featurescont-iconboxText {

}

.image-container {
    position: relative; /* Gör containern relativt positionerad */
    width: fit-content; /* Anpassa bredden efter innehållet */
    height: fit-content; /* Anpassa höjden efter innehållet */
}

.featuresbackground {
    display: block; /* Gör att bilden visas som ett block */
}

.visaoverlay {
    position: absolute; /* Gör bilden absolut positionerad */
    top: 0; /* Placera den översta kanten av bilden vid containerns översta kant */
    left: 0; /* Placera den vänstra kanten av bilden vid containerns vänstra kant */
    transform: translate(5%, 32%); /* Flytta bilden 50% till vänster och 50% uppåt */
}

.slider2 {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.images-slider img {
    margin: 0 2vw; /* Adjust the horizontal spacing between images */
}

/* .sliderphones {
    display: grid;
    justify-content: space-between;
    align-items: center;

} */

.slidertext {
    text-align: center;
    margin: 0 auto;
    max-width: 35vw;
}

.testimonials {
    display: flex;
    width: 1920px;
    height: 542px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testimonialboxes {
    display: flex;
    
}

.scoring {
    display: flex;
    width: 88px;
    height: 16px;
}

.testimonialbox {
    border-color: var(--clr-gray-300);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    background-color: white;
    /* border: 3px solid; */
    color: var(--clr-gray-900);
    border-radius: 8px; /* Set button border radius */
    width: 416px;
    
    height: 350px;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /* padding: 12px 25px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none;

    padding-right: 1.5rem;
    padding-left: 1.5rem; */
}

.testimonialtext {
    padding-right: 5rem;
}

.testimonialperson {
    display: flex;
    padding-top: 1rem;
}

.testimonialperson h2 {
    order: 1;
}

.testimonialperson p {
    order: 2;
}

.faq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.faq-textAboveBoxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.faqtext {
    

}

.faqboxes {
display: flex;
justify-content: space-between;
max-width: 450px;
}

.faqbox {
    border: 1px solid;
    border-color: var(--clr-gray-300);

    background-color: white;

    border-radius: 8px; /* Set button border radius */
    padding: 24px 24px; /* Set button padding */
    display: grid; /* Set button display to flex */
    justify-content: center; /* Center button content */
    align-items: center; /* Center button content */
    text-decoration: none; /* Remove underline from button */
    height: 166px;
    width: 196px;
}

.blue-text {
    color: blue;
}

.green-text {
    color: #22c55e;
}



.subscribe {
    background-color: var(--clr-gray-100);
    display: flex;;
    width: 1296px;
    height: 222px;
 /* justify-content: space-between; */
}

.belltext {
    
    justify-content: center;
    padding-top: 72px; 
    padding-bottom: 72px;
    gap: 1rem;
    display: flex;
    max-width: 40rem;
}

.subscribebox {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    input {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border : 1px solid var(--clr-gray-600);
        height: 3.5rem;
        width: 20rem;
    }
    
}
#subscribebutton {
    height: 3.7rem;
    width: 10rem;
    background-color: var(--clr-primary);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: translate(-10%, 0%);
    font-weight: bold;
    

}

.footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--clr-gray-600);
    background-color: var(--clr-gray-100);

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .credit {
        display: none;
    }
}

/* Anpassning till tablet */

@media (min-width: 768px) {
   .container {
    max-width: 720px;
   }
   
   .btn-toggle-switch .label {
    display: "block";
    }
    header .container{
        gap: 3rem;
    }

    footer {
        font-size: 14px;
        .container{
            display: flex;
            justify-content: center;

        }
      
        .credit {
            display: block;
        }
    
        
    }


}



/* Anpassning till desktop */

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    header .container{
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }

    #auth-signin {
        display: block;
    }

    .btn-mobile {
        display: none;
    }

    .navbar {
        display: block;
    } 

} 



/* NEW ACCORDION START */

.accordion-faq {
    background-color: #fff;
    max-width: 570px;
    margin: 5rem auto;
    border-radius: .5rem;
    /* box-shadow:  4px 4px 8px #00000033; */
    

}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    cursor: pointer;

    p {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.btn-round {
    background-color: var();
    border: 0;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 300ms;
}

/* .question:hover .btn-round {
    background-color: hsl(225, 100%, 95%);
} */

.answer {
    padding : .7rem;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    
    transition: grid-template-rows 300ms;
    padding: 0 .7rem;
}

.open .answer {
    /* display: block; */
    height: 100px;
    grid-template-rows: 1fr;
    
}

.expandable {
    min-height: 0px;
}

.open .btn-round {
    background-color: #6366f1;
    transform: rotate(180deg);
}

.faq-card {
    border-color: var(--clr-gray-300);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    background-color: white;
    border-radius: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
}
/* 
.faq-card.open .btn-round {
    background-color: #6366f1;
    transform: rotate(180deg);
} */

/* NEW ACCORDION END */

/* GAMLA ACCORDION START */

 /* .accordion-container {
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
}

.accordion {
    background-color: white; 
    color: #444; 
    cursor: pointer; 
    padding: 1rem; 
    width: 100%; 
    border: none; 
    text-align: left; 
    outline: none; 
    font-size: 1rem; 
    transition: background-color 0.4s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.accordion:hover {
    background-color: #f0f0f0; 
    border-color: #bbb; 
}

.active, .accordion:hover {
    background-color: #ccc; 
    border-color: #aaa; 
}

.accordion:after {
    content: ''; 
    background-image: url(images/FAQ/arrowunpressed.svg); 
    background-size: 32px 32px; 
    width: 32px; 
    height: 32px; 
    display: block; 
    float: right; 
    margin-left: 1rem; 
    background-repeat: no-repeat; 
}
  
  .active:after {
    
    background-image: url(images/FAQ/arrowBlue.svg);
    background-size: 53px 53px;
    width: 53px;
    height: 53px;

    display: block;

    float: right;
    margin-left: 5px;

    background-repeat: no-repeat;
  }
  
  
  .panel {
    padding: 0 1rem; 
    display: none; 
    background-color: white; 
    overflow: hidden; 
    border: 1px solid #d4d7e5;
}  */

/* GAMLA ACCORDION SLUT */

/* NYA ACCORDION START */



/* NYA ACCORDION SLUT */

  /* JavaScript för Accordion SLUT */